/* Theme Color */
:root {
  --primary: #00AEEF;
  --secondary: #4D4D4D;
  --light: #EAEFF2;
  --dark: #2F2F2F;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;
  color: white;
  background-color: var(--dark);
}

main {
  padding: 60px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: 60px;
  position: absolute;
  transition: top 1s, font-size 1s;
  color : rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 1px white;

  font-size: 2rem;
}
@media screen and (min-width: 480px) {
	/* スマホ */
	h1{
		font-size: 3rem;
	}
}

h2 {
  width: fit-content;
  text-align: center;
  border-bottom: 1px solid white;
}

.profile-image {
  display: none;
}
@media screen and (min-width: 888px) {
	/* スマホ */
	.profile-image {
    display: block;
	}
}

span {
  font-size: 1rem;
}
@media screen and (min-width: 480px) {
	/* スマホ */
	span{
    font-size: 1.2rem;
	}
}

ul {
  padding-right: 36px;
}
li + li {
  padding-top: 1rem;
}

.ul-container {
  padding: 12px;
  margin: 0px 16px;
}
@media screen and (min-width: 480px) {
	/* スマホ */
	.ul-container{
    padding: 12px 80px;
	}
}


.slide{
  width: 100%;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
